*{
    box-sizing: border-box;
}

/* css reset start here */
h1, h2 ,h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
/* css reset end here */

/* video area start */
.container2{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -2;
}
.vid{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/* video area end */

/* nav area start here */
.nav-area{
    width: 100%;
    background: #100715;
    background: linear-gradient(90deg, rgba(16, 7, 21, 0.742) 0%, rgba(21, 10, 32, 0.732) 50%, rgba(25, 14, 42, 0.742) 100%);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-area .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-area .container .logo img{
    height: auto;
    width: 70%;
}
.nav-area .container .button{
    background: none;
    border: none;
}
.nav-area .container .button a{
    color: white;
    background: #7846DC;
    background: linear-gradient(90deg, rgba(120, 70, 220, 1) 0%, rgba(84, 48, 158, 1) 50%, rgba(53, 28, 103, 1) 100%);
    font-size: 16px;
    font-weight: 600;
    padding: 17px 30px;
    border-radius: 50px;
}
/* nav area end here */

/* banner area start here */
.banner-area{
    width: 100%;
    background: #100715;
    background: linear-gradient(90deg, rgba(16, 7, 21, 0.742) 0%, rgba(21, 10, 32, 0.732) 50%, rgba(25, 14, 42, 0.742) 100%);
}
.banner-area .container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.banner-area .container .left{
    width: 50%;
}
.banner-area .container .left img{
    padding: 100px 0;
}
.banner-area .container .right{
    width: 50%;
}
.banner-area .container .right .text h3{
    color: white;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-area .container .right .text h2{
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-area .container .right .text h2 .type{
    color: #7c4ae4;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-area .container .right .text h1{
    font-size: 60px;
    background: #8852F7;
    background: linear-gradient(to right, #8852F7 0%, #EBE1FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner-area .container .right .text p{
    color: #dddddd;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 30px;
    text-align: justify;
}
.banner-area .container .right .text p span{
    color: #7c4ae4;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 30px;
    text-align: justify;
}
.banner-area .container .right .button{
    background: none;
    border: none;
}
.banner-area .container .right .button a{
    color: #7c4ae4;
    border: 2px solid #7c4ae4;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
}
.banner-area .container .right .button :hover{
    color: white;
    background: #7846DC;
    background: linear-gradient(90deg, rgba(120, 70, 220, 1) 0%, rgba(84, 48, 158, 1) 50%, rgba(53, 28, 103, 1) 100%);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: none;
}
/* banner area end here */

/* about area start here */
.about-area{
    width: 100%;
    background: #100715;
    background: linear-gradient(90deg, rgba(16, 7, 21, 0.742) 0%, rgba(21, 10, 32, 0.732) 50%, rgba(25, 14, 42, 0.742) 100%);
}
.about-area .container h2{
    font-size: 46px;
    background: #8852F7;
    background: linear-gradient(to right, #8852F7 0%, #EBE1FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 100px;
    font-weight: 600;
}
.about-area .container p{
    color: white;
    font-size: 16px;
    padding-bottom: 100px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
}
/* about area end here */

/* skill area start here */
.skill-area{
    width: 100%;
    background: #100715;
    background: linear-gradient(90deg, rgba(16, 7, 21, 0.742) 0%, rgba(21, 10, 32, 0.732) 50%, rgba(25, 14, 42, 0.742) 100%);
}
.skill-area h2{
    font-size: 46px;
    background: #8852F7;
    background: linear-gradient(to right, #8852F7 0%, #EBE1FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 100px;
    font-weight: 600;
}
.skill-area .container{
    display: flex;
    justify-content: space-between;
}
.skill-area .container .left{
    width: 50%;
}
.skill-area .container .left h4{
    font-size: 28px;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}
.skill-area .container .left p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 50px;
}
.skill-area .container .left .button-area{
    display: flex;
    padding: 2px 3px;
    background-color: #1c0f39;
    border-radius: 40px;
    gap: 10px;
    width: 311px;
}
.skill-area .container .left .button-area .button{
    color: white;
    background: #7846DC;
    background: linear-gradient(90deg, rgba(120, 70, 220, 1) 0%, rgba(84, 48, 158, 1) 50%, rgba(53, 28, 103, 1) 100%);
    font-size: 16px;
    font-weight: 600;
    padding: 17px 30px;
    border-radius: 50px;
    border: none;
}
.skill-area .container .left .button-area .btn{
    color: white;
    background-color: #1c0f39;
    font-size: 16px;
    font-weight: 600;
    padding: 17px 30px;
    border-radius: 50px;
    border: none;
}
.skill-area .container .right{
    width: 50%;
}
.skill-area .container .right .icons{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.skill-area .container .right .icons .part1{
    display: flex;
    gap: 50px;
    background-color: transparent;
    justify-content: center;
    border-radius: 20px;
}
.skill-area .container .right .icons .part1 div{
    height: 100px;
    width: 100px;
    background-color: #201035;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-area .container .right .icons .part1 div img{
    width: 70px;
    height: auto;
}
.skill-area .container .right .icons .part2{
    display: flex;
    gap: 50px;
    background-color: transparent;
    justify-content: center;
    border-radius: 20px;
}
.skill-area .container .right .icons .part2 div{
    height: 100px;
    width: 100px;
    background-color: #201035;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-area .container .right .icons .part2 div img{
    width: 70px;
    height: auto;
}
.skill-area .container .right .icons .part3{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: transparent;
    border-radius: 20px;
}
.skill-area .container .right .icons .part3 div{
    height: 100px;
    width: 100px;
    background-color: #201035;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-area .container .right .icons .part3 div img{
    width: 70px;
    height: auto;
}
/* skill area end here */

/* service area start here */
.service-area{
    width: 100%;
    background: #100715;
    background: linear-gradient(90deg, rgba(16, 7, 21, 0.742) 0%, rgba(21, 10, 32, 0.732) 50%, rgba(25, 14, 42, 0.742) 100%);
}
.service-area .container h2{
    font-size: 46px;
    background: #8852F7;
    background: linear-gradient(to right, #8852F7 0%, #EBE1FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 195px;
    font-weight: 600;
}
.service-area .container .service-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    gap: 30px;
}
.service-area .container .service-list :hover{
    transform: translateY(-20px);
}
.service-area .container .service-list .service :hover{
    transform: none;
}
.service-area .container .service-list .service{
    height: 500px;
    width: 500px;
    background-color: #201035;
    padding: 40px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    border: 2px solid #7c4ae4;
}
.service-area .container .service-list .service img{
    width: 20%;
    margin-bottom: 30px;
}
.service-area .container .service-list .service h4{
    font-size: 24px;
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
}
.service-area .container .service-list .service p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 50px;
}
.service-area .container .service-list .service .button{
    background: none;
    border: none;
}
.service-area .container .service-list .service .button a{
    color: white;
    background: #7846DC;
    background: linear-gradient(90deg, rgba(120, 70, 220, 1) 0%, rgba(84, 48, 158, 1) 50%, rgba(53, 28, 103, 1) 100%);
    font-size: 16px;
    font-weight: 600;
    padding: 17px 28px;
    border-radius: 50px;
}
/* service area end here */

/* footer area start here */
.footer-area{
    width: 100%;
    background-color: #5e36af;
    padding: 50px;
}
.footer-area .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-area .container .social{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}
.footer-area .container .social h5{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-area .container .social .icon{
    color: white;
    font-size: 20px;
    display: flex;
    gap: 20px;
}
.footer-area .container .social .icon a{
    color: white;
    font-size: 20px;
    display: flex;
    gap: 20px;
}
.footer-area .container .social .icon :hover{
    color: #230364;
    font-size: 20px;
    display: flex;
    gap: 20px;
}
.footer-area .container p{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-area .container h6{
    color: white;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}
/* footer area end here */





